<h1>Browser</h1>
<form action="" method="">
  <input type="text" class="search" name="search" placeholder="Search...">
  <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
  <span>-</span>
  <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
  <input type="submit" value="search">
</form>

<div>
  {{#each setups}}
  {{> setupCard}}
  {{else}}
  <h2>No Setups found <a href="/create">Make what you're looking for</a></h2>
  {{/each}}
</div>